<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to hatredify</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <section id="pure">
            <h1>hatredify</h1>
            <p>Add some hatred to your text!</p>
            <form method="POST" action="/">
                <textarea class="form-control"
                          rows="8"
                          cols="50"
                          name="pure-chunk"
                          id="pure-chunk"
                          placeholder="Put some text here..."></textarea>
                <button type="submit">HATREDIFY</button>
            </form>
                </div>
        </section>
        <section id="hatred">
            <div class="container">
                <textarea class="form-control"
                          rows="8"
                          cols="50"
                          id="hatredified-chunk"></textarea>
            </div>
        </section>
    </body>
</html>
